<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body class="has-navbar-fixed-top">
      <!-- Particles and background stuff-->
      <div id="lattice"></div>
      <div id="particles-js"></div>

      <!-- Our navigation-->
      <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a id="home" class="navbar-item is-selected" onclick="loadContent('home')">
              Home
            </a>

            <a id="about" class="navbar-item" onclick="loadContent('about')">
              About
            </a>
      
            <a id="projects" class="navbar-item" onclick="loadContent('projects')">
              Projects
            </a>

            <a id="contact" class="navbar-item" onclick="loadContent('contact')">
              Contact
            </a>

          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item is-hidden-touch">
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.8.0/bulma-0.8.0.zip">
                  <span class="icon">
                    <i class="fas fa-download"></i>
                  </span>
                  <span>Download Resume</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      </nav>

      <!-- Our actual content -->
      <div class="container" id="content-window">
        
      </div>


      <!-- Scripts-->
      <script src="./js/particles.js"></script>
      <script src="./js/main.js"></script>
    </body>
</html>
