:root {
  --aqua: #3498DB;
  --aqua-but-darker: #258cd1;
  --white: #fff;
  --greyple: #99AAB5;
  --dark: #2C2F33;
  --darker: #23272A;
}

.is-primary {
  background-color: var(--aqua) !important;
}

html {
  overflow-y: hidden;
}

html, body {
  background-color: var(--darker);
  color: #fff;
}

.navbar-end .navbar-item:hover {
  background-color: var(--dark) !important;
}

a.button.is-primary:hover {
  background-color: var(--aqua-but-darker) !important;
}

.navbar, .navbar-dropdown {
  background-color: var(--dark);
  border-bottom: 1px solid #fff;
}

.navbar-item, .navbar-link, .navbar-burger {
  background-color: var(--dark);
  color: var(--white) !important;
}

.navbar-item:hover {
  background-color: var(--darker) !important;
}

.navbar-item.is-selected {
  background-color: var(--darker) !important
}

#lattice {
  height: 100%;
  width: 100%;
  background-image: url("/i/1080-lattice.png");
  background-repeat: repeat;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: absolute;
  top:0;
  left:0;
}

#content-window {
  z-index: 999;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
}